In [1]:
import pandas as pd
import numpy as np

In [7]:
df=pd.read_csv(r'C:\Users\jordy\OneDrive\MSc_Python\Individual_Project\Data\df_hdma_encoded.csv', index_col=0)
df

,tract_to_msamd_income,population,minority_population,number_of_owner_occupied_units,number_of_1_to_4_family_units,loan_amount_000s,hud_median_family_income,applicant_income_000s,sequence_number,purchaser_type_name,...,applicant_sex_name,applicant_race_name_5,applicant_race_name_4,applicant_race_name_3,applicant_race_name_2,applicant_race_name_1,applicant_ethnicity_name,agency_name,agency_abbr,action_taken_name
0,121.690002,8381.0,23.790001,2175.0,2660.0,227,73300.0,116.0,119969,1,...,1,0.0,0.0,0.0,0.0,1,1,1,1,1
1,83.370003,4915.0,23.990000,1268.0,1777.0,240,57900.0,42.0,52605,2,...,2,0.0,0.0,0.0,0.0,2,2,2,2,1
2,91.129997,5075.0,11.820000,1136.0,1838.0,241,73300.0,117.0,6210,3,...,2,0.0,0.0,0.0,0.0,2,1,2,2,1
3,146.169998,5032.0,8.590000,1525.0,1820.0,351,73300.0,315.0,197,3,...,2,0.0,0.0,0.0,0.0,1,3,3,3,1
4,162.470001,5183.0,10.500000,1705.0,2104.0,417,78100.0,114.0,32582,1,...,1,0.0,0.0,0.0,0.0,2,1,4,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
466561,0.000000,0.0,0.000000,0.0,0.0,178,0.0,97.0,11,3,...,1,0.0,0.0,0.0,0.0,2,1,2,2,7
466562,0.000000,0.0,0.000000,0.0,0.0,110,0.0,30.0,6,3,...,2,0.0,0.0,0.0,0.0,2,1,2,2,7
466563,0.000000,0.0,0.000000,0.0,0.0,420,0.0,71.0,10311,3,...,1,0.0,0.0,0.0,0.0,1,3,2,2,8
466564,88.690002,4725.0,45.880001,1188.0,1686.0,255,72300.0,77.0,777306,3,...,2,0.0,0.0,0.0,0.0,2,1,2,2,8
466565,128.690002,3657.0,21.410000,1156.0,1244.0,319,90300.0,78.0,785339,3,...,2,0.0,0.0,0.0,0.0,6,1,2,2,8

In [8]:
df.dtypes

tract_to_msamd_income             float64
population                        float64
minority_population               float64
number_of_owner_occupied_units    float64
number_of_1_to_4_family_units     float64
loan_amount_000s                    int64
hud_median_family_income          float64
applicant_income_000s             float64
sequence_number                     int64
purchaser_type_name                 int64
property_type_name                  int64
preapproval_name                    int64
owner_occupancy_name                int64
msamd_name                        float64
loan_type_name                      int64
loan_purpose_name                   int64
lien_status_name                    int64
hoepa_status_name                   int64
edit_status_name                  float64
denial_reason_name_3              float64
denial_reason_name_2              float64
denial_reason_name_1              float64
county_name                       float64
co_applicant_sex_name               int64
co_applicant_race_name_5          float64
co_applicant_race_name_4          float64
co_applicant_race_name_3          float64
co_applicant_race_name_2          float64
co_applicant_race_name_1            int64
co_applicant_ethnicity_name         int64
census_tract_number               float64
application_date_indicator          int64
applicant_sex_name                  int64
applicant_race_name_5             float64
applicant_race_name_4             float64
applicant_race_name_3             float64
applicant_race_name_2             float64
applicant_race_name_1               int64
applicant_ethnicity_name            int64
agency_name                         int64
agency_abbr                         int64
action_taken_name                   int64
dtype: object

In [9]:
# def stratify_data(df_data, stratify_column_name, stratify_values, stratify_proportions, random_state=None):
#     """Stratifies data according to the values and proportions passed in
#     Args:
#         df_data (DataFrame): source data
#         stratify_column_name (str): The name of the single column in the dataframe that holds the data values that will be used to stratify the data
#         stratify_values (list of str): A list of all of the potential values for stratifying e.g. "Male, Graduate", "Male, Undergraduate", "Female, Graduate", "Female, Undergraduate"
#         stratify_proportions (list of float): A list of numbers representing the desired propotions for stratifying e.g. 0.4, 0.4, 0.2, 0.2, The list values must add up to 1 and must match the number of values in stratify_values
#         random_state (int, optional): sets the random_state. Defaults to None.
#     Returns:
#         DataFrame: a new dataframe based on df_data that has the new proportions represnting the desired strategy for stratifying
#     """
#     df_stratified = pd.DataFrame(columns = df_data.columns) # Create an empty DataFrame with column names matching df_data

#     pos = -1
#     for i in range(len(stratify_values)): # iterate over the stratify values (e.g. "Male, Undergraduate" etc.)
#         pos += 1
#         if pos == len(stratify_values) - 1: 
#             ratio_len = len(df_data) - len(df_stratified) # if this is the final iteration make sure we calculate the number of values for the last set such that the return data has the same number of rows as the source data
#         else:
#             ratio_len = int(len(df_data) * stratify_proportions[i]) # Calculate the number of rows to match the desired proportion

#         df_filtered = df_data[df_data[stratify_column_name] ==stratify_values[i]] # Filter the source data based on the currently selected stratify value
#         df_temp = df_filtered.sample(replace=True, n=ratio_len, random_state=random_state) # Sample the filtered data using the calculated ratio
        
#         df_stratified = pd.concat([df_stratified, df_temp]) # Add the sampled / stratified datasets together to produce the final result
        
#     return df_stratified # Return the stratified, re-sampled data

In [14]:
#creating target vaart
proportions = df['action_taken_name'].value_counts(normalize=True).tolist()
proportions

[0.5652190686848163,
 0.13755181474861006,
 0.12936647762588788,
 0.10364235713703956,
 0.03895697500460814,
 0.025151854185688625,
 7.501618206213055e-05,
 3.643643128732055e-05]

In [15]:
unique_values = df['action_taken_name'].unique().tolist()
unique_values

[1, 2, 3, 4, 5, 6, 7, 8]

In [16]:
def resample_data(df, target_column, unique_values, proportions, random_state=None, num_rows=None):
    np.random.seed(random_state)
    
    # Calculate the number of rows to sample for each unique value based on the desired proportions
    sample_sizes = [int(proportion * num_rows) for proportion in proportions]
    
    # Create an empty DataFrame to store the resampled data
    resampled_df = pd.DataFrame(columns=df.columns)
    
    # Iterate over each unique value and sample rows accordingly
    for value, size in zip(unique_values, sample_sizes):
        # Filter the original DataFrame for the current unique value
        subset = df[df[target_column] == value]
        
        # Sample rows randomly with replacement from the subset
        resampled_subset = subset.sample(n=size, replace=True, random_state=random_state)
        
        # Append the resampled subset to the resampled DataFrame
        resampled_df = resampled_df.append(resampled_subset)
    
    # Reset the index of the resampled DataFrame
    resampled_df.reset_index(drop=True, inplace=True)
    
    return resampled_df

In [17]:
resampled_df = resample_data(df, 'action_taken_name', unique_values, proportions, random_state=0, num_rows=10000)
resampled_df

,tract_to_msamd_income,population,minority_population,number_of_owner_occupied_units,number_of_1_to_4_family_units,loan_amount_000s,hud_median_family_income,applicant_income_000s,sequence_number,purchaser_type_name,...,applicant_sex_name,applicant_race_name_5,applicant_race_name_4,applicant_race_name_3,applicant_race_name_2,applicant_race_name_1,applicant_ethnicity_name,agency_name,agency_abbr,action_taken_name
0,48.930000,4668.0,35.000000,97.0,110.0,232,90300.0,260.0,145394,1,...,1,0.0,0.0,0.0,0.0,3,1,1,1,1
1,203.679993,4629.0,33.770000,1162.0,1239.0,335,90300.0,122.0,84043,1,...,2,0.0,0.0,0.0,0.0,3,1,1,1,1
2,76.370003,3748.0,32.660000,1219.0,1423.0,317,90300.0,62.0,22460,5,...,1,0.0,0.0,0.0,0.0,3,1,2,2,1
3,97.279999,7128.0,23.930000,1571.0,2554.0,250,72300.0,86.0,410155,5,...,2,0.0,0.0,0.0,0.0,2,1,1,1,1
4,129.190002,3667.0,30.350000,965.0,1339.0,127,90300.0,100.0,360183,5,...,3,0.0,0.0,0.0,0.0,1,3,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9991,117.510002,4311.0,17.719999,1212.0,1604.0,284,78100.0,0.0,105993,4,...,4,0.0,0.0,0.0,0.0,4,4,2,2,6
9992,87.160004,9326.0,19.400000,2449.0,3403.0,349,61400.0,0.0,61100,4,...,4,0.0,0.0,0.0,0.0,4,4,2,2,6
9993,122.120003,7128.0,27.309999,2213.0,2742.0,281,73600.0,109.0,1165407,3,...,2,0.0,0.0,0.0,0.0,2,1,1,1,6
9994,127.720001,5169.0,7.840000,1714.0,1935.0,135,61300.0,0.0,57488,1,...,4,0.0,0.0,0.0,0.0,4,4,2,2,6
9995,110.930000,6131.0,31.690001,1606.0,2441.0,328,55600.0,0.0,130875,4,...,4,0.0,0.0,0.0,0.0,4,4,2,2,6

In [18]:
resampled_df_proportions = resampled_df['action_taken_name'].value_counts(normalize=True).tolist()
resampled_df_proportions

[0.5654261704681873,
 0.1375550220088035,
 0.1293517406962785,
 0.10364145658263306,
 0.038915566226490596,
 0.025110044017607042]

In [ ]:
#count the number 7 and 8 values in action_taken_name column in original df

In [19]:
#eidted version of function so that it samples atleast 1 of each target variable
def resample_data_edit(df, target_column, unique_values, proportions, random_state=None, num_rows=None):
    np.random.seed(random_state)
    
    # Calculate the number of rows to sample for each unique value based on the desired proportions
    sample_sizes = [int(proportion * num_rows) if proportion * num_rows >= 1 else 1 for proportion in proportions]
    
    # Create an empty DataFrame to store the resampled data
    resampled_df = pd.DataFrame(columns=df.columns)
    
    # Iterate over each unique value and sample rows accordingly
    for value, size in zip(unique_values, sample_sizes):
        # Filter the original DataFrame for the current unique value
        subset = df[df[target_column] == value]
        
        # Sample rows randomly with replacement from the subset
        resampled_subset = subset.sample(n=size, replace=True, random_state=random_state)
        
        # Append the resampled subset to the resampled DataFrame
        resampled_df = resampled_df.append(resampled_subset)
    
    # Reset the index of the resampled DataFrame
    resampled_df.reset_index(drop=True, inplace=True)
    
    return resampled_df

In [21]:
resampled_df_edit = resample_data_edit(df, 'action_taken_name', unique_values, proportions, random_state=0, num_rows=20000)
resampled_df_edit

,tract_to_msamd_income,population,minority_population,number_of_owner_occupied_units,number_of_1_to_4_family_units,loan_amount_000s,hud_median_family_income,applicant_income_000s,sequence_number,purchaser_type_name,...,applicant_sex_name,applicant_race_name_5,applicant_race_name_4,applicant_race_name_3,applicant_race_name_2,applicant_race_name_1,applicant_ethnicity_name,agency_name,agency_abbr,action_taken_name
0,48.930000,4668.0,35.000000,97.0,110.0,232,90300.0,260.0,145394,1,...,1,0.0,0.0,0.0,0.0,3,1,1,1,1
1,203.679993,4629.0,33.770000,1162.0,1239.0,335,90300.0,122.0,84043,1,...,2,0.0,0.0,0.0,0.0,3,1,1,1,1
2,76.370003,3748.0,32.660000,1219.0,1423.0,317,90300.0,62.0,22460,5,...,1,0.0,0.0,0.0,0.0,3,1,2,2,1
3,97.279999,7128.0,23.930000,1571.0,2554.0,250,72300.0,86.0,410155,5,...,2,0.0,0.0,0.0,0.0,2,1,1,1,1
4,129.190002,3667.0,30.350000,965.0,1339.0,127,90300.0,100.0,360183,5,...,3,0.0,0.0,0.0,0.0,1,3,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19993,87.290001,5849.0,20.230000,1428.0,1816.0,160,73300.0,0.0,25804,1,...,4,0.0,0.0,0.0,0.0,4,4,1,1,6
19994,95.010002,5202.0,35.490002,1541.0,2041.0,235,72300.0,0.0,123503,4,...,4,0.0,0.0,0.0,0.0,4,4,2,2,6
19995,91.129997,2731.0,48.410000,609.0,976.0,219,48700.0,0.0,149776,4,...,4,0.0,0.0,0.0,0.0,4,4,2,2,6
19996,0.000000,0.0,0.000000,0.0,0.0,550,0.0,209.0,11043,3,...,3,0.0,0.0,0.0,0.0,1,3,2,2,7
19997,0.000000,0.0,0.000000,0.0,0.0,241,0.0,67.0,4808,3,...,1,0.0,0.0,0.0,0.0,2,1,2,2,8

In [22]:
resampled_df_edit_proportions = resampled_df_edit['action_taken_name'].value_counts(normalize=True).tolist()
resampled_df_edit_proportions

[0.5652565256525652,
 0.13756375637563756,
 0.12936293629362935,
 0.1036103610361036,
 0.03895389538953895,
 0.02515251525152515,
 5.000500050005001e-05,
 5.000500050005001e-05]

In [25]:
resampled_df_edit.dtypes

tract_to_msamd_income             float64
population                        float64
minority_population               float64
number_of_owner_occupied_units    float64
number_of_1_to_4_family_units     float64
loan_amount_000s                   object
hud_median_family_income          float64
applicant_income_000s             float64
sequence_number                    object
purchaser_type_name                object
property_type_name                 object
preapproval_name                   object
owner_occupancy_name               object
msamd_name                        float64
loan_type_name                     object
loan_purpose_name                  object
lien_status_name                   object
hoepa_status_name                  object
edit_status_name                  float64
denial_reason_name_3              float64
denial_reason_name_2              float64
denial_reason_name_1              float64
county_name                       float64
co_applicant_sex_name              object
co_applicant_race_name_5          float64
co_applicant_race_name_4          float64
co_applicant_race_name_3          float64
co_applicant_race_name_2          float64
co_applicant_race_name_1           object
co_applicant_ethnicity_name        object
census_tract_number               float64
application_date_indicator         object
applicant_sex_name                 object
applicant_race_name_5             float64
applicant_race_name_4             float64
applicant_race_name_3             float64
applicant_race_name_2             float64
applicant_race_name_1              object
applicant_ethnicity_name           object
agency_name                        object
agency_abbr                        object
action_taken_name                  object
dtype: object

In [26]:
#saving to csv
resampled_df_edit.to_csv('df_hdma_encoded_resampled_20k.csv')

array([[   8.3252    ,   41.        ,    6.98412698, ...,    2.55555556,
          37.88      , -122.23      ],
       [   8.3014    ,   21.        ,    6.23813708, ...,    2.10984183,
          37.86      , -122.22      ],
       [   7.2574    ,   52.        ,    8.28813559, ...,    2.80225989,
          37.85      , -122.24      ],
       ...,
       [   1.7       ,   17.        ,    5.20554273, ...,    2.3256351 ,
          39.43      , -121.22      ],
       [   1.8672    ,   18.        ,    5.32951289, ...,    2.12320917,
          39.43      , -121.32      ],
       [   2.3886    ,   16.        ,    5.25471698, ...,    2.61698113,
          39.37      , -121.24      ]])